@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}   

@layer components{
    .input{
        @apply rounded-2xl bg-transparent px-3 py-2 text-base focus:outline-customOrange focus:bg-transparent w-3/4 border-2;
    }
}


































